@import url(./reset.css);   /*import fonts*/

@import url(//fonts.googleapis.com/css?family=Krona+One);




/* yusuf */


/* -- nav bar -- */
header{
  margin: 2em 0em 5em 0em;
  animation: navFade2 1.5s ease 0s forwards;
}
/* Animations - Copy this @keyframes block to your CSS*/ 
@keyframes navFade2{
  0.0%{
    transform:rotate(0) translate(0%,-100%);
    opacity: 0;
  }
  100%{
    transform:rotate(0);
    opacity: 1;
  }
}
@keyframes navFade{
  0.0%{
    transform: rotate(0) translate(0,30%);
   
    opacity: 0;
  }
  100%{
    transform: rotate(0) translate(0,0);
    opacity: 1;
  }
}

body{
  font-family: 'Krona One', sans-serif;
  background: hsla(210, 90%, 80%, 1);
/*background gradient*/
  background: linear-gradient(270deg, hsla(210, 90%, 80%, 0.3) 0%, hsla(212, 93%, 49%, 1) 100%);
  
  background: -moz-linear-gradient(270deg, hsla(210, 90%, 80%, 0.3) 0%, hsla(212, 93%, 49%, 1) 100%);
  
  background: -webkit-linear-gradient(270deg, hsla(210, 90%, 80%, 0.3) 0%, hsla(212, 93%, 49%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9fccfa", endColorstr="#0974f1", GradientType=1 );
 
}

main section:first-of-type p{
  font-size: 1.3em;
}

a{
  text-decoration: none;
}

header nav{
  display: flex;
  align-items: center;
  flex-direction: column;
}
header nav a{
  font-size: 1.2em;
  color:black;
}
header nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
div>img{
  margin-right: 3em;
}
header nav ul div:last-of-type{
  display: flex;
  flex-wrap: wrap;
  box-shadow: 1px 2px 10px 3px rgb(173, 173, 173); /* no border but box-shadow */
  background-color: white;
  margin-right: 2em;
  border-radius: 2em;
  height: 3.5em;
}

header nav ul li{
  margin:0em 1.5em 0em .5em;
  padding:1em;
  transition: .2s transform ease-in-out; /*scaling transformation*/
  border-radius: 2em;
}



ul div:last-of-type img{
  height: 2em;
  width: 2em;
  margin:0em 1em 0em 0em;
  align-self: center;
  border-radius: 50%;
}
.fa{
  align-self: center;
  margin-right: 1em;
}


header nav ul a:visited{
  color: #FF007F;
}
header nav ul div:last-of-type li:hover{
  transform: scale(0.85); 
  background-color: #FF007F; 
  color: white; 
}


/* daud */
footer{
  background: black;
  color:white;
  padding: 1em;
font-size: 1.5em;
}

footer ul{
  display: flex;
  justify-content: space-evenly;
}
footer p{
  padding-top: 1em;
text-align: center;
font-size: 0.8em;
}
footer .fas{
  font-size: larger;
}
footer li a{
  color: white;
}
footer li a:visited{
  color:#FF007F;
}
footer li a:hover{
  color:#94BBDB;
}

footer ul li img{
  height:3em;
  width: 3em;
}

/* Kris - Signup - CLEAN SHEET*/

@keyframes cardFade{
  0.0%{
    transform: rotate(0) translateY(40%);
    opacity: 0;
  }
  100%{
    transform: rotate(0) translate(0,0);
    opacity: 1;
  }
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section{
  padding: 2em;
  border: 5px solid black;
  margin: 1em;
  border-radius: 1em;
  width: 40em;
  background-color: white;
}

main section h1{
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 1em;
  text-align: center;
}

main section div{
  display: flex;
  flex-direction: column;
}

main section fieldset div{
  padding-bottom: 0.5em;
}
main section fieldset div:first-of-type{
  display: block;
}

main section label{
  padding-bottom: 1em;
  padding-top: 1em;
}

main section fieldset:last-of-type 
{
  display: flex;
  flex-direction: column;
}

legend{
  padding-bottom: 1em;
  padding-top: 1em;
}

fieldset:last-of-type + div{
  padding-top: 1em;
}

button{
  background-color: hsla(212, 65%, 49%, 1); /* 25D09D */
  color: white;
  font-weight: bolder;
  font-size: 1em;
  border: .2em solid lightgray;
  border-radius: 2em;
  padding: 1em 3em 1em 3em;
  transition: .2s transform ease-in-out;
  margin-top: 0.5em;
}


button:hover{
  transform: scale(1.08); /*animate on hover*/
  border-color: #FF007F;
}


.hidden {
  display: none;   /* used to hide error messages until needed */
}

.error{
  color: red;
}

form input, select, textarea{
  background: rgba(9, 56, 36, 0.1);
  border-radius: 0.5em;
  font-size: 0.9em;
  padding: 0.7em;
  font-family: 'Krona One', sans-serif;
  
}

main section div:nth-child(9), main section div:last-child{
  display: block;
}

main section div:nth-last-child(2){
  display: flex;
  flex-direction: row;
}

main section div:nth-last-child(2) label{
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 1em;
}

main section div:nth-last-child(2){
  padding-top: 1em;
  padding-bottom: 1em;
}