@import url(./reset.css);
@import url(//fonts.googleapis.com/css?family=Krona+One);

/* Identical to registration.css, please refer to that stylesheet for documentation*/

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Krona One', sans-serif;
    background: hsla(210, 90%, 80%, 1);

    background: linear-gradient(270deg, hsla(210, 90%, 80%, 0.3) 0%, hsla(212, 93%, 49%, 1) 100%);
    
    background: -moz-linear-gradient(270deg, hsla(210, 90%, 80%, 0.3) 0%, hsla(212, 93%, 49%, 1) 100%);
    
    background: -webkit-linear-gradient(270deg, hsla(210, 90%, 80%, 0.3) 0%, hsla(212, 93%, 49%, 1) 100%);
    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5em;
    margin:.5em .5em;


}
p{
    display: block;
}
form{
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 2em 1em .3em 1em;
    border:.5em solid white;
    border-radius: 2.5em;
    background-color: white;
    margin: .5em;
}
section h1{
    align-self: center;
}
form >*{
    margin-bottom: 2em;
}

form div{
    transition: all .3s;
}
form label:not(label[id="special"]){
    font-size: 1.2em;
    display: block;
    transform:translate(.5em,-1.5em);
    cursor:text;
    transform-origin: 0 0;
    transition: all .3s;
    color: black;
}
form input:not(input[type="checkbox"]){
    font-weight:bolder;
    width: 50%;
    font-size: 1em;
    border-radius: .5em;
    border-bottom: .25em solid #002D8F;
    border-style: none none solid none;
    padding:1em 0em 0.3em 1.5em;
    width:100%;
    box-shadow: none;
    background-color: #EFF2EF;
    transition: all .2s;
    box-sizing: border-box; /* for the browser to account for the border and calculate padding
     based on that for (input) and not overflow the parent*/
 
}
form input:not(input[type="checkbox"]):focus{
    box-shadow: none;
    outline: none;
    border-color: #FF007F;
    
}

form{
    display: flex;
    flex-direction: column;

}
#links-reg{
    margin:.2em .5em;

}
form input::placeholder{
    color: transparent;
}
/* focus within actually selects all elements that had focus*/
form div:focus-within{
    transform:scale(1.02)
}
/* only move the label when up (translateY) when the input is on focus and
   keep the label up by checking if placeholder is not shown i.e there is some input
   to avoid having the label back "on" the input even if there is data in it */

   /* REF https://css-tricks.com/float-labels-css/ */
form input:focus + label,form input:not(:placeholder-shown)+label{
    transform: translateY(-3.35em);
}


form #links-login, form #links-reg{
    display: flex;
    justify-content: flex-end;

}
form button{
    align-self: flex-end;
    margin-left: 1em;
    background-color: hsla(212, 65%, 49%, 1); /* 25D09D */
    color: white;
    font-weight: bolder;
    font-size: 1em;
    cursor: pointer;
    border: .2em solid lightgray;
    border-radius: 2em;
    padding: 1em 3em 1em 3em;
    transition: .2s transform ease-in-out;
    align-self: flex-end;
  }

#forgotpass button {
background-color: white;
color:#FF007F;
border: none;
padding:0;

    
}

#forgotpass button a {
    background-color: white;
    color:#FF007F;
    border: none;
    padding:0;
    text-decoration: none;
    
        
    }

  form a:first-of-type button{
      background-color: #FF007F;
  }

form button:hover{
    transform: scale(1.08);
    
}

form a{
    align-self: flex-end;
}






/*footer */
footer{
    color:white;
    justify-content: center;
    display: flex;
  font-size: 1.5em;
  margin-bottom: 1.15em;
  }
  
  
