@import url(./reset.css);

@import url(//fonts.googleapis.com/css?family=Krona+One);



body{
  font-family: 'Krona One', sans-serif;
  
  


}

/* yusuf */


/* -- nav bar -- */
header{
  margin: 2em 0em 5em 0em;
  animation: navFade2 1.5s ease 0s forwards;
}
/* Copy this @keyframes block to your CSS*/
@keyframes navFade2{
  0.0%{
    transform:rotate(0) translate(0%,-100%);
    opacity: 0;
  }
  100%{
    transform:rotate(0);
    opacity: 1;
  }
}
@keyframes navFade{
  0.0%{
    transform: rotate(0) translate(0,30%);
   
    opacity: 0;
  }
  100%{
    transform: rotate(0) translate(0,0);
    opacity: 1;
  }
}
main section:first-of-type p{
  font-size: 1.3em;
}

a{
  text-decoration: none;
}

header nav a{
  font-size: 1.2em;
  color:black;
}
header nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  flex-wrap: wrap;
}

header nav ul div:last-of-type{
  display: flex;
  flex-wrap: wrap;
  box-shadow: 1px 2px 10px 3px rgb(173, 173, 173); /* no border but box-shadow */
  margin-right: 2em;
  border-radius: 2em;
  min-width: 50vw;  /* for larger screens, it can grow*/
}

header nav ul li{
  margin:0em 1.5em 0em .5em;
  padding:1em;
  transition: .2s transform ease-in-out; /*scaling transformation*/
  border-radius: 2em;
}



header nav ul a:visited{
  color: #4F97BA;
}
header nav ul div:last-of-type li:hover{
  transform: scale(0.85); 
  background-color: #8AD5E5; 
  color: white; 
}


/* -- welcome section */
main section:first-of-type{
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
  background-color: #1CB1C4; /*#AF469A*/
  color: white;
  box-shadow: 1px 2px 10px 3px rgb(173, 173, 173); /* no border but box-shadow */
  padding:2.5em;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin:0em 3em 3em 1em;
  justify-content: space-between;
  animation: sectionFade 1.5s ease 0s forwards;
  transition: .2s transform ease-in-out;
}
main section:first-of-type span{
  color:#FF9FB2;
}


main section div{
  display: flex;
  margin-bottom: 2em;
  align-items: center;
  padding-top: 2em;
}

/* Copy this @keyframes block to your CSS*/
@keyframes sectionFade{
  0.0%{
    transform: rotate(0) translate(-30%);
    opacity: 0;
  }
  100%{
    transform: rotate(0) translate(0,0);
    opacity: 1;
  }
}
main section:first-of-type div:nth-of-type(2),
main section:first-of-type div:nth-of-type(3){
  font-size: 1em;
}

main section:first-of-type h2{
  font-size: 3em;
  transition: .2s transform ease-in-out;
  margin-bottom: 1em;
}


main section:first-of-type button{
  align-self: center;
  background-color: white; /* 25D09D */
  font-weight: bolder;
  font-size: 1em;
  margin-left: 1em;
  cursor: pointer;
  border: .2em solid lightgray;
  border-radius: 2em;
  padding: 1em 3em 1em 3em;
  transition: .2s transform ease-in-out;
}

main section:first-of-type button:hover{
  transform: scale(1.08);
  background-color: #FF9FB2;
}


/* daud */
footer{
  background: black;
  color:white;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1em;
font-size: 1.5em;
}

footer li a{
  color: white;
}
footer li a:visited{
  color:#94BBDB;
}
footer li a:hover{
  color:#d38796;
}

header nav ul li i{
  margin-left: .5em;
}