@import url(./reset.css);

@import url(//fonts.googleapis.com/css?family=Krona+One);


:root{
  background: #093824;  
}



footer{
  background: black;
  color:white;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1em;
font-size: 1.5em;
}

footer li a{
  color: white;
}
footer li a:visited{
  color:rgb(189, 180, 79);
}
footer li a:hover{
  color:red;
}
