@import url(./reset.css);
@import url(//fonts.googleapis.com/css?family=Krona+One);
body{    font-family: 'Krona One', sans-serif;
  background: hsla(210, 90%, 80%, 1);

  background: linear-gradient(270deg, hsla(210, 90%, 80%, 0.3) 0%, hsla(212, 93%, 49%, 1) 100%);
  
  background: -moz-linear-gradient(270deg, hsla(210, 90%, 80%, 0.3) 0%, hsla(212, 93%, 49%, 1) 100%);
  
  background: -webkit-linear-gradient(270deg, hsla(210, 90%, 80%, 0.3) 0%, hsla(212, 93%, 49%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9fccfa", endColorstr="#0974f1", GradientType=1 );
 
}
header{
    margin: 2em 0em 5em 0em;
    animation: navFade2 1.5s ease 0s forwards;
  }

@keyframes navFade2{
    0.0%{
      transform:rotate(0) translate(0%,-100%);
      opacity: 0;
    }
    100%{
      transform:rotate(0);
      opacity: 1;
    }
  }
a{
    text-decoration: none;
  }
  
  header nav a{
    font-size: 1.2em;
    color:black;
  }
  header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  header nav ul div img {
    padding-left: 5em;
    height: 5em;
    width: 5em;
}
  header nav ul div:last-of-type{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 2px 10px 3px rgb(173, 173, 173); /* no border but box-shadow */
    margin-right: 2em;
    border-radius: 2em;
    height: 3.5em;
  }
  
  header nav ul li{
    margin:0em 1.5em 0em .5em;
    padding:1em;
    transition: .2s transform ease-in-out; /*scaling transformation*/
    border-radius: 2em;
  }
  
  header nav ul a:visited{
    color: #FF007F;
  }
  header nav ul div:last-of-type li:hover{
    transform: scale(0.85); 
    background-color: #FF007F; 
    color: white; 
  }
  header nav ul li i{
    margin-left: .5em;
  }

  header nav ul div:last-of-type{
    background-color: white;
  }

  h2{
      text-align: center;
      font-size: 2em;
  }
  h3{
    text-align: center;
    padding: 1em;
    font-size: 1em;
  }
  main table{
    margin: 2em;
    text-align: center;  /* Centre aligning the text */
    font-size: 1.5em;
}


td,
th {
  padding: 0.5em;
  width: 17em;
  height: 1.5em;
  font-size: 0.6em;
  padding-top:1em;
}

td a:hover{
    color:#FF007F ;
}
footer{
    background: black;
    color:white;
    padding: 1em;
    font-size: 1.5em;
  }
  
  footer ul{
    display: flex;
    justify-content: space-evenly;
  }
  footer p{
    padding-top: 1em;
  text-align: center;
  font-size: 0.8em;
  }
  footer .fas{
    font-size: larger;
  }
  footer li a{
    color: white;
  }
  footer li a:visited{
    color:#FF007F;
  }
  footer li a:hover{
    color:#94BBDB;
  }
  
  footer ul li img{
    height:3em;
    width: 3em;
  }

  td,th{
    border:0.1em solid white;
    padding:0.5em;
  }
  
  tr th{
    border-radius: 5px 5px 0px 0px;
    background-color: #2196F3;
    color: white;
  }
  
  table{
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    color:black;
    text-align: center;
  }
  
  
  th
  {
    border-radius: 5px 0px 0px 5px;
  }
  
  
  tr:nth-child(8) td:nth-child(1)
  {
    border-radius: 5px 0px 0px 5px;
  }
  
  tr{
    background-color: #90CAF9;
  }
  

main section{
  padding: 2em;
  margin: 3em;
  border-radius: 1em;
  width: fit-content;
}